body{
  background-color: #ebe5f5;
}
header {
  background-image: url(banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
footer {
  border-top: 4px solid #453465ff;
}
.card {
  background-color: #ebe5f5;
}
.navbar-custom {
  border-top: 4px solid #453465ff;
  border-bottom: 4px solid #453465ff;
  background-color: #CFC0E7;
}
.custom-color{
  color: #453465ff;
  text-decoration: none;
}
.custom-border{
  border: 2px solid #453465ff;
}
.logo {
  width: 40%;
  height: 100%;
  opacity: 0;
}
hr.solid {
  border-top: 4px solid #453465ff;
  border-radius: 5px;
  opacity: 1;
}
footer a:hover {
  color: #453465ff !important;
}
footer a:link {
  color: #453465ff !important;
}